.container {
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/bg.svg") no-repeat center;
}

a {
  width: 300px;
}

img {
  width: 100%;
}
